.espacio-relleno-3 {
    width: 100%;
    height: 100px;
    background-image: url(/images/rectangle_22.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.espacio-relleno-4 {
    width: 100%;
    height: 90px;
    background-image: url(/images/rectangle_22.png);
    background-repeat: no-repeat;
    background-size: cover;
}

th {
    background-color: #8C5137;
    color: #fff4f4;
    text-align: center;
}

td {
    background-color: #cfb99e;
    color: #fff4f4;
    padding: 7px;
    text-align: center;
}

.sinClase {
    background: #e1523d;
}